:root {
  --facebook-blue: #1878f3;
  --facebook-dark: #166fe5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f2f6;
}

input:focus,
input:active {
  outline: none;
}

button:focus,
button:active {
  outline: none;
}

/*   UTILS   */

.divider {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 2rem;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
